@import "tailwindcss";
@plugin "daisyui";

#card-items {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
}
.default-bg {
  background: url("./bg.gif") no-repeat center center/cover;
}
.rainy-bg {
  background: url("./rain.gif") no-repeat center center/cover;
}
.haze-bg {
  background: url("./haze.gif") no-repeat center center/cover;
}
@plugin "daisyui" {
  themes: all;
}
.active {
  border-bottom: 2px solid rgb(101, 101, 101);
  /* border-radius: 10px; */
}
#cloudlink .active {
  background-color: none;
}
